In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [9]:
!pip install mordred[full]

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mordred[full] in /home/mansig/.local/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: six==1.* in /home/mansig/.local/lib/python3.7/site-packages (from mordred[full]) (1.15.0)
Requirement already satisfied: networkx==2.* in /share/apps/software/anaconda3/lib/python3.7/site-packages (from mordred[full]) (2.2)
Requirement already satisfied: numpy==1.* in /home/mansig/.local/lib/python3.7/site-packages (from mordred[full]) (1.19.1)
Requirement already satisfied: pandas in /home/mansig/.local/lib/python3.7/site-packages (from mordred[full]) (1.0.5)
Requirement already satisfied: tqdm in /home/mansig/.local/lib/python3.7/site-packages (from mordred[full]) (4.56.0)
Requirement already satisfied: decorator>=4.3.0 in /share/apps/software/anaconda3/lib/python3.7/site-packages (from networkx==2.*->mordred[full]) (4.4.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /share/apps/software/anaconda3/lib/python3.7/site-packages (from pandas->mordred[full]) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /share/apps/software/anaconda3/lib/python3.7/site-packages (from pandas->mordred[full]) (2018.9)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the '/share/apps/software/anaconda3/bin/python -m pip install --upgrade pip' command.

In [10]:
!pip install rdkit-pypi

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rdkit-pypi in /home/mansig/.local/lib/python3.7/site-packages (2021.9.2.1)
Requirement already satisfied: numpy>=1.19 in /home/mansig/.local/lib/python3.7/site-packages (from rdkit-pypi) (1.19.1)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the '/share/apps/software/anaconda3/bin/python -m pip install --upgrade pip' command.

In [6]:
from rdkit import Chem
from mordred import Calculator, descriptors

calc = Calculator(descriptors, ignore_3D=True)

print(len(calc.descriptors))

print(len(Calculator(descriptors, ignore_3D=True, version="1.0.0")))

''''

# calculate multiple molecule
>>> mols = [Chem.MolFromSmiles(smi) for smi in ['c1ccccc1Cl', 'c1ccccc1O', 'c1ccccc1N']]

# as pandas
>>> df = calc.pandas(mols)'''

1613
1612

"'\n\n# calculate multiple molecule\n>>> mols = [Chem.MolFromSmiles(smi) for smi in ['c1ccccc1Cl', 'c1ccccc1O', 'c1ccccc1N']]\n\n# as pandas\n>>> df = calc.pandas(mols)"

In [2]:
df = pd.read_csv('sweet_mol.csv', encoding = 'cp1252')
df

,Name,Test_ID,Smiles,Sweetness,logSw
0,"1',4',6'-3Cl-sucrose",test_1,ClC1C(O)[C@@](OC1CCl)(OC1OC(CO)C(O)C(O)C1O)CCl,10000.000000,4.00
1,"1',4'-2Cl-sucrose",test_2,ClC1C(O)[C@@](OC1CO)(OC1OC(CO)C(O)C(O)C1O)CCl,3000.000000,3.48
2,"1',6'-2Cl-sucrose",test_3,ClCC1O[C@](OC2OC(CO)C(O)C(O)C2O)(CCl)C(O)C1O,7800.000000,3.89
3,1'-Cl-sucrose,test_4,ClC[C@]1(OC(CO)C(O)C1O)OC1OC(CO)C(O)C(O)C1O,2000.000000,3.30
4,"4'-Br-4,1',6'-3Cl-sucrose",test_5,BrC1C(O)[C@@](OC1CCl)(OC1OC(CO)C(Cl)C(O)C1O)CCl,325000.000000,5.51
...,...,...,...,...,...
666,NaN,test_667,O=C(NCCC(=O)OC)[C@H](N)CC(=O)O,1.288250,0.11
667,NaN,test_668,CC(C)OC(=O)CCNC(=O)[C@H](N)CC(=O)O,5.011872,0.70
668,NaN,test_669,O=C(NC(CC(=O)OC)C(=O)OC)[C@H](N)CC(=O)O,3.981072,0.60
669,NaN,test_670,O=C(CCNC(=O)[C@H](N)CC(=O)O)OCCC,9.549926,0.98
670,NaN,test_671,O=C(NC(CC(=O)OCC)C(=O)OCC)[C@H](N)CC(=O)O,22.387211,1.35

In [3]:
df1 = pd.read_csv('Sweet_all.csv', encoding='cp1252')

In [4]:
ll = df['Smiles'].to_list()

In [14]:
mm = df1['Smiles'].to_list()

In [7]:
f = [Chem.MolFromSmiles(smi) for smi in ll]

In [8]:
final_f = calc.pandas(f)

 36%|███▌      | 239/671 [00:22<00:22, 19.33it/s]

/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 37%|███▋      | 246/671 [00:23<01:17,  5.51it/s]

/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 44%|████▎     | 292/671 [00:29<00:51,  7.36it/s]

/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 47%|████▋     | 315/671 [00:38<01:43,  3.45it/s]

/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

 50%|█████     | 338/671 [00:41<01:24,  3.96it/s]

/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/mansig/.local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

100%|██████████| 671/671 [00:58<00:00, 11.46it/s]

In [13]:
final_f.to_csv('final_features.csv', float_format='%.4f', index=None,encoding='utf-8')

In [14]:
final_f['Label'] = df['logSw']

In [15]:
final_f

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,Label
0,17.213262,16.059815,0,0,28.7667,2.52242,4.95823,28.7667,1.25073,4.05277,...,72.317821,396.014551,9.428918,1110,43,120.0,147.0,10.4514,5.291667,4.00
1,17.213262,16.059815,0,0,28.7667,2.52242,4.95823,28.7667,1.25073,4.05277,...,72.317821,378.048438,8.791824,1110,43,120.0,147.0,10.4514,5.291667,3.48
2,17.213262,16.059815,0,0,28.7667,2.52242,4.95823,28.7667,1.25073,4.05277,...,72.317821,378.048438,8.791824,1110,43,120.0,147.0,10.4514,5.291667,3.89
3,17.213262,16.059815,0,0,28.7667,2.52242,4.95823,28.7667,1.25073,4.05277,...,72.317821,360.082325,8.183689,1110,43,120.0,147.0,10.4514,5.291667,3.30
4,17.213262,16.059815,0,0,28.7667,2.52242,4.95823,28.7667,1.25073,4.05277,...,72.317821,457.930148,11.169028,1110,43,120.0,147.0,10.4514,5.291667,5.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,10.406004,10.149912,1,1,16.9933,2.17049,4.34098,16.9933,1.13289,3.54278,...,45.035554,218.090272,7.520354,448,16,62.0,64.0,7.69444,3.611111,0.11
667,12.038997,11.376365,1,1,18.632,2.17533,4.35066,18.632,1.096,3.67187,...,47.800381,246.121572,7.032045,646,18,72.0,74.0,8.80556,3.944444,0.70
668,13.303381,13.214600,1,1,21.8573,2.26563,4.53127,21.8573,1.15039,3.78708,...,50.771696,276.095751,7.888450,766,24,82.0,88.0,9.91667,4.555556,0.60
669,11.820217,11.115226,1,1,19.5,2.17234,4.34469,19.5,1.14706,3.66669,...,47.557903,246.121572,7.032045,660,18,70.0,72.0,8.19444,4.111111,0.98
670,14.717594,14.260233,1,1,23.7944,2.27149,4.54298,23.7944,1.13307,3.88541,...,53.162182,304.127051,7.417733,1018,26,90.0,96.0,10.4167,5.055556,1.35

In [16]:
final_f.to_csv('labelwithfeatures.csv',float_format='%.4f', index=None,encoding='utf-8')

In [ ]:
#final_f is final file containing labels

Preprocessing

In [49]:
final_f.describe()

,ABC,ABCGG,nAcid,nBase,nAromAtom,nAromBond,nAtom,nHeavyAtom,nSpiro,nBridgehead,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb2,Label
count,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,...,671.000000,671.000000,671.000000,671.000000,6.710000e+02,671.000000,671.000000,671.000000,671.000000,671.000000
mean,18.486684,15.838513,0.697466,0.745156,3.044709,3.050671,49.080477,24.701937,0.056632,0.098361,...,9.757492,62.202542,362.546697,7.599185,4.312994e+08,39.153502,122.879285,142.685544,5.565915,2.932283
std,11.262942,7.482643,0.600480,0.809848,5.159350,5.170854,29.808234,13.781687,0.278182,0.459572,...,0.745336,20.108175,197.765744,1.352734,3.343705e+09,34.819517,84.902097,110.855645,2.806726,1.372716
min,5.128087,5.729866,0.000000,0.000000,0.000000,0.000000,12.000000,8.000000,0.000000,0.000000,...,8.103192,34.513363,122.057909,5.760430,6.800000e+01,8.000000,30.000000,31.000000,1.916667,-0.690000
25%,13.234431,12.272784,0.000000,0.000000,0.000000,0.000000,36.000000,18.000000,0.000000,0.000000,...,9.222763,50.529439,262.116486,6.845716,7.280000e+02,22.000000,81.000000,85.500000,4.250000,1.780000
50%,15.315311,13.693250,1.000000,1.000000,0.000000,0.000000,41.000000,21.000000,0.000000,0.000000,...,9.580869,55.036794,297.147727,7.253310,9.750000e+02,28.000000,98.000000,108.000000,4.750000,2.990000
75%,17.821563,16.059815,1.000000,1.000000,6.000000,6.000000,45.000000,24.000000,0.000000,0.000000,...,10.151400,69.637649,365.633958,7.943800,1.457000e+03,39.000000,120.000000,147.000000,5.486111,4.010000
max,73.420672,49.874353,3.000000,3.000000,36.000000,36.000000,195.000000,91.000000,2.000000,4.000000,...,12.061018,145.705532,1286.650677,19.455967,7.140000e+10,217.000000,542.000000,693.000000,18.923611,7.350000

In [50]:
print('min label:', final_f['Label'].min())
print('max label:', final_f['Label'].max())
print('sort label:', final_f['Label'].sort_values())

min label: -0.69
max label: 7.35
sort label: 393   -0.69
339   -0.20
394    0.00
424    0.00
666    0.11
       ...
133    6.05
282    6.15
279    7.30
191    7.30
236    7.35
Name: Label, Length: 671, dtype: float64

In [115]:
final_f.isnull().sum()

ABC         0
ABCGG       0
nAcid       0
nBase       0
SpAbs_A     0
           ..
Zagreb1     0
Zagreb2     0
mZagreb1    0
mZagreb2    0
Label       0
Length: 1614, dtype: int64